/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-image: url("assets/img/background.jpg");
  background-repeat: repeat;
}

a {
  text-decoration: none;
  font-style: italic;
  color: rgb(141, 108, 150);
}

a:hover {
  color:indianred;
}

h1 {
  font-weight: normal;
  margin-top: 5px;
  text-align: center;
  font-family: 'Exo';
  font-size: 3em;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 20px 0px 0px 0px;
  background-color: rgb(120, 189, 168);
  font-size: 2em;
  box-shadow: 0px 2px 5px rgb(109, 109, 109);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.title {
  font-size: 20px;
}

nav {
  margin: auto;
  padding: 0;
}

nav a.icon {
  display: none;
}

ul {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgb(242, 255, 230);
}

section {
  border:gray;
  border-width: 0 5px 5px 5px;
  border-style: none;
}

.profile-pic {
  margin-right: 30px;
  width: 250px;
  border-top-left-radius: 50%;
  border-width: 7px;
  border-style: none;
  box-shadow: 0px 2px 5px rgb(109, 109, 109);
}

#profile-content {
  margin: 0 20% 2% 20%;
  padding: 15px;
  border-top-left-radius: 140px;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  flex-shrink: 3;
}

.bio {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail {
  position: relative;
  width: 27%;
}

img {
  margin: 0;
  width: 100%;
  border-color: rgb(39, 70, 117);
  border-style: solid;
  border-width: 3px;
}

.overlay {
  position: absolute;
  background: rgb(157, 122, 170);
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0%;
  text-align: center;
  border:cadetblue;
  border-style: solid;
  transition: opacity 0.3s;
}

.overlay p {
  margin: 0;
}

.overlay:hover {
  opacity: 90%;
}

.workName {
  margin-top: 30%;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

footer {
  height: 2em;
  background-color: rgb(114, 79, 102);
}

#work-sec {
  margin: 0 20px 10px 20px;
  display: flex;
  justify-content: space-evenly;
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  float:left;
  margin: 0;
  width: 0;
  height: 0;
  border-top: 82px solid rgb(130, 156, 212);
  border-right: 82px solid transparent;
}

#contact-container {
  padding: 1% 20% 0 20%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(218, 194, 164);
  box-shadow: 0px -2px 5px rgb(109, 109, 109);
}


@media only screen and (max-device-width: 768px) {
  header {
    font-size: 20px;
    margin: 0;
    padding: 0px;
  }
  
  .title h1{
    margin: 0;
    padding: 20px;
    text-align: left;
  }

  nav {
    overflow: hidden;
    position: relative;
  }
  
  nav #navLinks {
    display: none;
  }
  
  nav a {
    color: rgb(177, 121, 182);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }

  nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  nav a:hover {
    color: black;
  }

  ul {
    margin: 0;
    padding: 0;
    display: block;
    text-align: right;
  }

  li {
    background-color: rgb(242, 255, 230);
    font-size: 3em;
  }

  h1 {
    font-size: 30px;
  }
   
  #profile-content {
    border-top-right-radius: 140px;
    margin: 0 10% 5% 10%;
    display: block;
    text-align: center;
  }

  .profile-pic {
    margin: 0 25% 0 25%;
    width: 200px;
    border-radius: 50%;
  }

  #work-sec {
    margin: 0 15% 0 15%;
    display: block;
    justify-content: center;
  }

  .thumbnail {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
  }
}